# Rename to wrangler.toml only if you choose Wrangler-based configuration.
# Dashboard bindings are also supported.

name = "yourbabalawo"
pages_build_output_dir = "."
compatibility_date = "2026-07-19"

[[d1_databases]]
binding = "DB"
database_name = "REPLACE_WITH_YOUR_D1_DATABASE_NAME"
database_id = "REPLACE_WITH_YOUR_D1_DATABASE_ID"
